* {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  .wp-block-separator.is-style-wide {
    border-bottom-width: 1px;
}
.wp-block-separator {
    margin-top: 80px;
    margin-bottom: 80px;
    opacity: .2;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
