.facts{
    margin: 0 auto;
     display:flex;
        flex-direction: column;
        margin-top:50px;
  @media @tablet{
      //width: 80%;
      flex-direction: row;
  }
    h3{
        margin-bottom: 20px;
    }
    .factsExtended{
    margin: 30px 30px 30px 30px;
    }

}

#ff{
    margin-top: 60px;
}
