.facts{
    margin: 0 auto;
     display:flex;
        flex-direction: column;
        margin-top:50px;
        padding-bottom: 50px;
        border-bottom: 1px 1px solid #ebebeb;
  @media @tablet{
      justify-content: space-between;
      flex-direction: row;
  }
    h3{
        margin-bottom: 20px;
        font-size: 4rem;
    }
    .factsExtended{
    margin: 30px 30px 30px 30px;
    }
  
}
#fastfacts{
      display: flex;
      justify-content: center;
      #ff{
          text-align: center;
          font-size: 3rem;
        }
      @media @tablet{
        flex-direction: column;
    }
  }

#ff{
    margin-top: 60px;
}
.sec{
    display: flex;
    flex-direction: column;
    @media @desktop{
        #orgreverse{
            flex-direction: row-reverse;
        }
        
    }
    p{
            text-align: center;
            margin: 20px 20px;
        }
    .sec_organizer{
        width: 100%;
        align-items: center;
        padding: 75px 0;
        display: flex;
        flex-direction: column;
        @media @desktop{
            flex-direction: row;
        }
        img{
            width:100%;
            @media @desktop{
                flex-direction: row;
            }
        }
    }
    
}